@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}
/* 

*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
} 
*/
@layer utilities {
  .transform-3d {
    transform-style: preserve-3d;
  }

  .cm-overlay {
    clip-path: circle(20px at var(--x, 50%) var(--y, 50%));
    transition: clip-path 100ms;
  }
  .cm-clip-path-left-0 {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  .cm-clip-path-circle-0 {
    /* .overlay {
      --clip:0%;
     clip-path: circle(var(--clip));
   }
    */
    --x: 100%;
    --y: 0%;
    --clip: 0%;
    clip-path: circle(var(--clip) at var(--x, 50%) var(--y, 50%));
  }
  .cm-clip-path-full {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .cm-center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Mobile Nav Menu */
ul {
  padding: 0;
  list-style-type: none;
}

#menuToggle span:first-child {
  @apply origin-[0%_0%];
}
#menuToggle span:nth-last-child(2) {
  @apply origin-[0%_100%];
}
#menuToggle input:checked ~ span {
  @apply opacity-100 rotate-45 translate-x-0.5 translate-y-[11px];
  background: #fff;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  @apply opacity-0 rotate-0 scale-[0.2];
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  @apply -rotate-45 translate-x-[6px] translate-y-px;
}

#menu {
  -webkit-font-smoothing: antialiased;
}

#menuToggle input:checked ~ ul {
  transform: none;
}
